<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-container-1">
        <span>TechInsider</span>
        
        <div class="links">
            <div class="link">
                <ul>
                    <a href="/user/postagens">
                        <li>Postagens</li>
                    </a>
                    <a href="#">
                        <li>Exercícios</li>
                    </a>
                    <a href="#">
                        <li>noticias</li>
                    </a>
                </ul>
            </div>
            <div class="link">
                <ul>
                    <a href="https://instagram.com/allan_santos_23" target="_blank">
                        <li>Instagram</li>
                    </a>
                    <a href="https://www.linkedin.com/in/allan-bispo-611016180/" target="_blank">
                        <li>Linkedin</li>
                    </a>
                    <a href="https://github.com/allanindex" target="_blank">
                        <li>Github</li>
                    </a>
                </ul>
            </div>
            <div class="link">
                <ul>
                    <a href="https://allanbispoportifolio.netlify.app/" target="_blank">
                        <li>Portifólio</li>
                    </a>
                    <a>
                        <li>Email</li>
                    </a>
                </ul>
            </div>
        </div>
          
    </div>
  
    <div class="atribuition">Desenvolvido e moderado por <a href="https://instagram.com/allan_santos_23" target="_blank">Allan Bispo</a></div>
</footer>