.alert{
    font-size: 3rem;
    padding: 30px;
    text-align: center;
    color: white;
}
.alert-success{
    background-color: #23d100c4;
}
.alert-error{
    background-color: #ff000092;
}
@media screen and (min-width: 1024px) {
    .alert{
        font-size: 1.5rem;
        padding: 15px;
        text-align: center;
        color: white;
    }
    .alert-success{
        background-color: #23d100c4;
    }
    .alert-error{
        background-color: #ff000092;
    }
}